apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: transmitter-to-receiver-only
  namespace: {{ .Values.name }}
spec:
  podSelector:
    matchLabels:
      app: {{ .Values.name }}
  policyTypes:
    - Ingress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: {{ .Values.receiverToAllowTransmitterNetworkPolicy.namespace.name }}
        podSelector:
          matchLabels:
            app: {{ .Values.receiverToAllowTransmitterNetworkPolicy.transmitterLabel }}
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: "kube-system"  
      ports:
      - protocol: TCP
        port: 8080
      - protocol: TCP
        port: 443
      - protocol: TCP
        port: 80